.page {
    margin-top: 78px;
}

.empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;

    color: var(--gray-text);
    font-size: 18px;
    font-weight: 500;
}

.empty svg {
    margin: 0 auto;
}