.headerWrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    /* margin-top: 69px; */
    background: var(--white-bg);
    padding: 7px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

/* li {
    width: fit-content !important;
} */

.right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.iconButton {
    display: flex;
    border-radius: 100px;
    padding: 12px;
    background: var(--gray-bg);
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.center {
    flex: 1;
    justify-content: center;
}




.menu {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.menuBtn {
    color: var(--gray-text);
    font-weight: 600;
    font-size: 31px;
    line-height: 130%;
}

.active {
    color: var(--black-text);
    text-decoration: underline !important;
    text-underline-offset: 6px;
    font-weight: 600;
    font-size: 31px;
    line-height: 130%;
}

.menuBtnLogout {
    background: transparent;
    font-size: 21px;
    color: var(--gray-text);
}

.logoTitle {
    font-size: 52px;
    margin-top: auto;
    font-weight: 700;
    line-height: 130%;
    color: var(--gray-text);
    transition: all .3s;
}

.logoTitle:hover {
    color: var(--black-text);
}


/* 
.menu button {
  background: transparent;
  border: none;

  font-size: 18px;
  text-align: left;

  padding: 12px;
  border-radius: 12px;

  color: var(--black-text);
}

.menu button:active {
  background: var(--gray-bg);
}


 */