.quote {}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px;
    padding: 13px 20px;
    background: var(--gray-bg);
    color: var(--black-text);
    height: 110px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: auto;
    margin-top: auto;
}